*.onnx
*.pkl
*.parquet
*.ipynb
*.csv

web_app/tiny_model/tokenizer/config.json
web_app/tiny_model/tokenizer/vocab.txt

!src/web_scraper/scrape.ipynb
__pycache__/
.env
web_app/database/mariadb_data/*
!web_app/database/mariadb_data/.gitkeep

web_app/database/redis_data/*
!web_app/database/redis_data/.gitkeep

model_binary/*
!model_binary/.gitkeep
!model_binary/large/.gitkeep
!model_binary/lightweight/.gitkeep
!model_binary/lightweight/tokenizer/.gitkeep